<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LazyOwnEncoderDecoder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link id="themeStylesheet" rel="stylesheet" href="{{ url_for('static', filename='css/light-mode.css') }}">
    <style>
        .btn-switch-mode {
            margin-bottom: 15px;
        }
        .footer-output {
            background-color: #f8f9fa;
            padding: 10px;
            border-radius: 5px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4 neon-text">LazyOwnEncoderDecoder</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-md-6">
                <form method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.input_file.label(class="form-label") }}
                        {{ form.input_file(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.output_file_name.label(class="form-label") }}
                        {{ form.output_file_name(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.frame_width.label(class="form-label") }}
                        {{ form.frame_width(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.frame_height.label(class="form-label") }}
                        {{ form.frame_height(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.block_size.label(class="form-label") }}
                        {{ form.block_size(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.action.label(class="form-label") }}
                        {{ form.action(class="form-control") }}
                    </div>
                    <button type="submit" class="btn btn-primary">Start</button>
                </form>
                <br /><br /><br />
                <button class="btn btn-secondary btn-switch-mode" onclick="switchMode()">Dark Mode</button>
            </div>
            <div class="col-md-6">
                {% if result %}
                    <div class="content">
                        <h5>Result:</h5>
                        <pre>{{ result }}</pre>
                    </div>
                {% endif %}
                {% if output_file_path %}
                    <div class="content">
                        <h5>Download:</h5>
                        <a href="{{ url_for('download_file', filename=output_file_path) }}" class="btn btn-success">Download Output File</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="footer-output">
            {% if result %}
                <h5>Output:</h5>
                <pre>{{ result }}</pre>
            {% endif %}
        </div>
    </div>
    <script>
        function switchMode() {
            const themeStylesheet = document.getElementById('themeStylesheet');
            if (themeStylesheet.getAttribute('href').includes('light-mode.css')) {
                themeStylesheet.setAttribute('href', '{{ url_for('static', filename='css/dark-mode.css') }}');
                document.querySelector('.btn-switch-mode').innerText = 'Light Mode';
            } else {
                themeStylesheet.setAttribute('href', '{{ url_for('static', filename='css/light-mode.css') }}');
                document.querySelector('.btn-switch-mode').innerText = 'Dark Mode';
            }
        }
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6YF9NHRKCX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-6YF9NHRKCX');
    </script>
    <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
    <script>
        kofiWidgetOverlay.draw('grisuno', {
            'type': 'floating-chat',
            'floating-chat.donateButton.text': 'Support me',
            'floating-chat.donateButton.background-color': '#5cb85c',
            'floating-chat.donateButton.text-color': '#fff'
        });
    </script>
</body>
</html>
