<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LazyOwnEncoderDecoder - Encode and Decode Files Easily</title>
    <meta name="description" content="LazyOwnEncoderDecoder is a powerful tool to easily encode and decode files. Supports video and zip files with customizable parameters for frame size and block size.">
    <meta name="keywords" content="LazyOwnEncoderDecoder, encode files, decode files, video encoding, zip decoding, file conversion">
    <meta name="author" content="GrisUNO">
    <meta property="og:title" content="LazyOwnEncoderDecoder - Encode and Decode Files Easily">
    <meta property="og:description" content="LazyOwnEncoderDecoder is a powerful tool to easily encode and decode files. Supports video and zip files with customizable parameters for frame size and block size.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://lazyowninfinitestorage.onrender.com/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="LazyOwnEncoderDecoder - Encode and Decode Files Easily">
    <meta name="twitter:description" content="LazyOwnEncoderDecoder is a powerful tool to easily encode and decode files. Supports video and zip files with customizable parameters for frame size and block size.">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link id="themeStylesheet" rel="stylesheet" href="{{ url_for('static', filename='css/light-mode.css') }}">
    <style>
        .btn-switch-mode {
            margin-bottom: 15px;
        }
        .footer-output {
            background-color: #f8f9fa;
            padding: 10px;
            border-radius: 5px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4 neon-text">LazyOwnEncoderDecoder</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-md-6">
                <form method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.input_file.label(class="form-label") }}
                        {{ form.input_file(class="form-control-file") }}
                    </div>
                    <div class="form-group">
                        {{ form.output_file_name.label(class="form-label") }}
                        {{ form.output_file_name(class="form-control") }}
                    </div>
                    <div class="form-group" id="frame_width_group">
                        {{ form.frame_width.label(class="form-label") }}
                        {{ form.frame_width(class="form-control") }}
                    </div>
                    <div class="form-group" id="frame_height_group">
                        {{ form.frame_height.label(class="form-label") }}
                        {{ form.frame_height(class="form-control") }}
                    </div>
                    <div class="form-group" id="block_size_group">
                        {{ form.block_size.label(class="form-label") }}
                        {{ form.block_size(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.action.label(class="form-label") }}
                        {{ form.action(class="form-control") }}
                    </div>
                    <button type="submit" class="btn btn-primary">Start</button>
                </form>
                <br /><br /><br />
                <button class="btn btn-secondary btn-switch-mode" onclick="switchMode()">Dark Mode</button>
            </div>
            <div class="col-md-6">
                {% if result %}
                    <div class="content">
                        <h5>Result:</h5>
                        <pre>{{ result }}</pre>
                    </div>
                {% endif %}
                {% if output_file_path %}
                    <div class="content">
                        <h5>Download:</h5>
                        <a href="{{ url_for('download_file', filename=output_file_path) }}" class="btn btn-success">Download Output File</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="footer-output">
            {% if result %}
                <h5>Output:</h5>
                <pre>{{ result }}</pre>
            {% endif %}
        </div>
    </div>
    <script>
        function switchMode() {
            const themeStylesheet = document.getElementById('themeStylesheet');
            if (themeStylesheet.getAttribute('href').includes('light-mode.css')) {
                themeStylesheet.setAttribute('href', '{{ url_for('static', filename='css/dark-mode.css') }}');
                document.querySelector('.btn-switch-mode').innerText = 'Light Mode';
            } else {
                themeStylesheet.setAttribute('href', '{{ url_for('static', filename='css/light-mode.css') }}');
                document.querySelector('.btn-switch-mode').innerText = 'Dark Mode';
            }
        }
        function updateForm() {
            var mode = document.getElementById("mode").value;
            var fileInput = document.getElementById("file");
            var blockSizeSelect = document.getElementById("block_size");
            var resolutionDiv = document.getElementById("resolution");

            if (mode === "encode") {
                fileInput.accept = ".zip";
                blockSizeSelect.style.display = "block";
                resolutionDiv.style.display = "block";
            } else {
                fileInput.accept = "video/mp4";
                blockSizeSelect.style.display = "none";
                resolutionDiv.style.display = "none";
            }
        }
        function handleResponse(response) {
            response.json().then(data => {
                var downloadUrl = data.download_url;
                var link = document.createElement('a');
                link.href = downloadUrl;
                link.download = '';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            });
        }
        document.getElementById('frame_width').addEventListener('change', function() {
            const width = this.value;
            const heightSelect = document.getElementById('frame_height');
            if (width === '640') {
                heightSelect.value = '480';
            } else if (width === '480') {
                heightSelect.value = '360';
            }
        });
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("uploadForm").addEventListener("submit", function(event) {
                event.preventDefault();
                var formData = new FormData(this);

                fetch("/upload", {
                    method: "POST",
                    body: formData
                }).then(handleResponse).catch(error => console.error("Error:", error));
            });

            updateForm();
        });
        document.getElementById('action').addEventListener('change', function() {
            const action = this.value;
            const frameWidthGroup = document.getElementById('frame_width_group');
            const frameHeightGroup = document.getElementById('frame_height_group');
            const blockSizeGroup = document.getElementById('block_size_group');

            if (action === 'encode') {
                frameWidthGroup.style.display = 'block';
                frameHeightGroup.style.display = 'block';
                blockSizeGroup.style.display = 'block';
                document.getElementById('input_file').setAttribute('accept', '.zip');
            } else if (action === 'decode') {
                frameWidthGroup.style.display = 'none';
                frameHeightGroup.style.display = 'none';
                blockSizeGroup.style.display = 'block';
                document.getElementById('input_file').setAttribute('accept', '.mp4');
            }
        });
        
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6YF9NHRKCX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-6YF9NHRKCX');
    </script>
    <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
    <script>
        kofiWidgetOverlay.draw('grisuno', {
            'type': 'floating-chat',
            'floating-chat.donateButton.text': 'Support me',
            'floating-chat.donateButton.background-color': '#00b9fe',
            'floating-chat.donateButton.text-color': '#fff'
        });
    </script>
</body>
</html>
